.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.title {
  font-family: "Avenir", Helvetica, sans-serif;
  color: white;
  font-size: 48pt;
  z-index: 1;
  font-weight: 900;
  margin-top: 0.5em;
  margin-right: 0.2em;
}

.heading {
  font-family: "Avenir", Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 24pt;
  margin: 0;
}

.subHeading {
  font-family: "Avenir", Helvetica, sans-serif;
  color: white;
  font-size: 18pt;
  font-weight: 100;
}

.wave {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 350pt;
  overflow: hidden;
  transform-origin: top;
  animation: animateWave 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  z-index: 1;
  position: relative;
}

.emailSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  position: relative;
  flex-wrap: wrap;
}

.headingDark {
  font-family: "Avenir", Helvetica, sans-serif;
  color: #2c2c2e;
  font-weight: 900;
  font-size: 24pt;
  margin: 0;
}

.email {
  font-family: "Avenir", Helvetica, sans-serif;
  padding: 0.8em 2em;
  margin: 1em;
  font-size: 14pt;
  border: hidden;
  border-radius: 24pt;
  min-width: 300pt;
  box-shadow: 0 4px 15px 2px #00000025;
  transition: 200ms transform ease-in-out, color var(--color-transition),
    background-color var(--color-transition), box-shadow 400ms;
  outline: none;
}

.email:focus {
  transform: scale(1.05);
  box-shadow: 0 0 15px 6px #3ae28056;
}

.email:hover {
  transform: scale(1.05);
}

.button {
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 500;
  padding: 0.8em 2em;
  margin: 1em;
  font-size: 14pt;
  border: none;
  background-color: #2ddb74;
  color: white;
  border-radius: 24pt;
  box-shadow: 0 4px 15px 2px #00000025;
  cursor: pointer;
  transition: 200ms transform ease-in-out, color var(--color-transition),
    background-color var(--color-transition), box-shadow 300ms;
  width: 10em;
}

.button:hover {
  transform: scale(1.1);
  background-color: #3ae280;
  box-shadow: 0 0 15px 6px #3ae28056;
}

.notify {
  margin-top: 10em;
}

.main {
  width: fit-content;
  position: relative;
}

.themeRow {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  top: 0;
  right: 0;
  width: 100pt;
}

.loader {
  margin: auto;
  border-radius: 50%;
  width: 14pt;
  height: 14pt;
  animation: spin 1.5s linear infinite;
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .title {
    font-size: 32pt;
  }

  .heading {
    font-size: 18pt;
  }

  .subHeading {
    font-size: 14pt;
    padding: 0 2em;
  }

  .email {
    min-width: unset;
    margin-bottom: 0;
    width: 80%;
    font-size: 12pt;
  }

  .button {
    width: 80%;
    margin-bottom: 0;
    font-size: 12pt;
  }

  .themeRow {
    position: relative;
    margin: auto;
    padding: 0;
    padding-top: 1em;
  }
}
@media only screen and (max-width: 450px) {
  .email,
  .button {
    width: 90%;
  }
}

@media only screen and (max-width: 374px) {
  .title {
    font-size: 24pt;
  }

  .heading {
    font-size: 18pt;
  }

  .subHeading {
    font-size: 14pt;
    padding: 0;
  }

  .email {
    width: 90%;
  }

  .button {
    width: 90%;
  }

  .themeRow {
    padding: 0;
  }

  .container {
    padding: 0.5em;
  }
}
